.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px;
  height: 100%;
}
.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.uploadContainer {
  position: relative;
  background-image: url('../../assets/welcome_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header,
.filesHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 42px;
}

.header {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*margin-bottom: 85px;*/
}

.filesHeader {
  margin-bottom: 0;
}

.header__cancelBtn {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 17px;
  line-height: 150%;
  opacity: 0.7;
}

.header__cancelBtnBlue {
  color: #3d88f6;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  line-height: 150%;
}

.header__title {
  margin: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

.centeredTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
}

.wrapper__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper__content__title {
  margin: 32px 0 8px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.87px;
  color: #fff;
}

.wrapper__content__description,
.uploadContainer__title {
  max-width: 260px;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: rgba(235, 235, 245, 0.6);
}

.uploadContainer__title {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}

.wrapper__content__description:nth-of-type(2) {
  font-size: 11px;
}

.wrapper__list__title {
  align-self: flex-start;
  color: #98989f;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin-top: 32px;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
  width: 100%;
}

.filesList {
  margin-top: 9px;
}

.options__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fileItem {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  border-radius: 8px;
  background: #1c1c1e;
}

.fileItem div h3 {
  color: #fff;
  text-overflow: ellipsis;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.14px;
}

.fileItem div p {
  color: #7d7d7d;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.11px;
}

.fileItem__icon {
  max-width: 30px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options__item__button {
  cursor: pointer;
  width: 100%;
  max-width: 370px;
  height: 63px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px 0 36px;
  gap: 16px;

  border-radius: 16px;
  border: 1px solid #242424;

  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.14px;
}

.uploadOptionButton {
  border-radius: 16px;
  border: 0.5px dashed #fff;
}

.workspaceOptionButton {
  border-radius: 10px;
  background: #2d2d2d;
  border: none;
}

.selectFileButton {
  border: none;
  background-color: #1c1c1e;
  height: 43px;
  gap: 8px;
  padding: 0 16px;
}

.laterButton {
  cursor: pointer;
  width: 100%;
  max-width: 370px;
  height: 63px;
  justify-content: center;
  margin-top: 110px;

  color: #7d7d7d;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.14px;
}

.arrowIcon {
  margin-left: auto;
}

.uploadContainer__dots {
  position: absolute;
  top: 20px;
  right: 16px;
  transition: all 250ms ease-in-out;
}
.uploadContainer__dots svg {
  fill: white;
  stroke: white;
}

.uploadContainer__dots:hover svg {
  fill: #eae9e9;
  stroke: #eae9e9;
}

.emptyFilesPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 161px;
}

.emptyFilesPage_title {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18px;
  text-transform: capitalize;
  margin-top: 8px;
}

.emptyFilesPage_desc {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.12px;
}

.hiddenInput {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.header_new {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.wallet_balance {
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3.65px);
  padding: 0 16px;
}

.wallet {
  color: var(--Labels-Dark-Primary, #fff);
  text-align: center;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: 'SF Pro Text';
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 76.8px */
}

.balance {
  color: var(--FFFFFF, #fff);
  font-feature-settings: 'case' on;
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  opacity: 0.7;
  text-align: center;
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  padding-top: 40px;
}

.list_element {
  padding: 16px 24px;
  border-radius: 16px;
  border: 0.5px dashed #fff;
}

.list_element_text {
  color: #fff;
  font-feature-settings: 'case' on;
  font-family: 'SF Pro Text';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: 0.14px;
  text-align: left;
  flex: 1 0 0;
}

.list_element_amount {
  opacity: 0.6;
  text-align: right;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.list_element_button {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.footer_item_text {
  color: rgba(255, 255, 255, 0.6);
  font-feature-settings: 'case' on;
  font-family: 'SF Pro Text';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: 0.14px;
}

.footer_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1 0;
  gap: 12px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  align-self: flex-end;
}

.invite_button {
  width: 100%;
  border-radius: 16px;
  background: black;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
  margin: 16px 0;
  min-height: 56px;
}

.invite_background {
  position: absolute;
  top: 0;
  right: 0;
}

.invite_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 16px;
  gap: 16px;
}

.invite_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
}

.invite_left {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.invite_link {
  color: #fff;
  text-align: right;
  font-feature-settings: 'case' on;
  font-family: 'SF Pro Text', serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.invite_points {
  text-align: left;
  margin-top: 8px;
}

.invite_amount {
  color: #fff;
  text-align: right;
  font-feature-settings: 'case' on;
  font-family: 'SF Pro Text', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.invite_get {
  color: #fff;
  font-feature-settings: 'case' on;
  font-family: 'SF Pro Text', serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left;
}

@media screen and (max-height: 700px) {
  .list_element {
    padding: 8px 16px;
  }
  .list,
  .wrapper {
    padding-top: 12px;
  }
}

.storage_block {
  border-radius: 8px;
  background: #1c1c1e;
  width: 100%;

  display: flex;
  padding: 8px 27px 12px 27px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 12px;
}

.storage_text_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.storage_text {
  color: var(--White, #fff);
  leading-trim: both;
  text-edge: cap;
  font-family: 'SF Pro Text', serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: 0.24px;
}

.storage_usage {
  height: 8px;
  background: #0062e2;
}

.storage_usage_container {
  overflow: hidden;
  height: 8px;
  width: 100%;
  border-radius: 24px;
  background: #28282a;
}

.telegram_share {
  width: 100%;
}

.small {
  font-size: 36px;
}

.bottom {
  margin-top: auto;
  width: 100%;
  margin-bottom: 16px;
}
