.connect-btn {

}

.overlay {
  position: fixed;
  inset: 0px;
  backdrop-filter: blur(4px);
}

.modal {
  position: absolute;
  max-width: calc(100% - 30px);
  width: 100%;
  min-height: 230px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #1a1919;
  overflow: auto;
  border-radius: 12px;
  outline: none;
}

.closeButton {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding: 0 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  padding-left: 8px;
  height: 50px;
  transition: background-color 0.4s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.item:active {
  background-color: #007acc;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

.item-img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
}

.item-img > svg {
  width: 100%;
  height: 100%;
}

.item-title {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-left: 20px;
}

.connect-btn {
  height: 28px;
  min-width: 60px;
  font-family: 'SF Pro Text';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  background-color: #FFFFFF;
  padding: 6px 16px;
  border-radius: 23px;
  color: #000;
}

.okx-connector {

}

.okx-connector__loader {
  margin-top: 16px;
}

.okx-connector__loader-text {
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
  color: #484848;
}

.okx-connector__footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.okx-connector__footer-btn {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #000000;
  padding: 6px 10px;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
}

.okx-connector__footer-btn svg {
  height: 18px;
}

.okx-connector__qr {
  margin: 15px 10px 10px 10px;
}

.okx-connector__qr > img {
  width: 100%;
}

.okx-connector__qr-text {
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
  color: #484848;
  padding: 0 20px;
}