.actions-flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 1);

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
}

.button span {
  font-family: 'SF Pro Text';
  font-size: 21px;
  font-weight: 600;
}

.star-icon {
  width: 24px;
  height: 24px;
}

.button .multiplier {
  transition: color 0.2s ease-in-out;
}
