.previewerWrapper {
  height: 300px;
  width: 100%;
}

.previewerContent {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 258px;
}

.blurContent {
  filter: blur(4px);
  height: 258px;
}

.fullscreenBtn {
  z-index: 1;
}

.fullPreview {
  height: calc(100vh - 172px);
}

.title {
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;  
  margin-top: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page {
  display: none;
}

.fullPreview > .previewerContent {
  height: 100%;
}

/*   */

.txtDocument {
  height: 100%;
}

.txtDocument > div {
  height: 100%;
}