.banner {
  position: relative;
  border-radius: 12px;
  border: 1px solid #323232;
  padding: 12px;
  height: 155px;
  overflow: hidden;

  animation: AppearAnim 0.5s ease-out forwards;
  opacity: 0;
  transform: scale(0.5);
}

@keyframes AppearAnim {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-description {
  position: relative;
  top: 13px;
  width: 50%;
  height: 100%;

  animation: DescAppearAnim 0.5s 0.3s ease-out forwards;
  opacity: 0;
  transform: translateX(-20px) scale(0.8);
}

@keyframes DescAppearAnim {
  0% {
    opacity: 0;
    transform: translateX(-20px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.banner-description__title {
  text-align: left;
  position: relative;
}

.banner-description__title h2 {
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

.banner-description__points {
  width: 97px;
  height: 46px;
  position: relative;
  left: -6px;
}

.banner-description__points img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner-description__timer {
  position: absolute;
  bottom: 12px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 8px 16px;
}
