.container{
  position: fixed;
  left: 50%;
  bottom:150px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: AppearAnination 0.5s forwards;
}

.count {
  text-align: center;
  font-family: 'Digital Numbers';
  font-size: 20px;
  font-weight: 400;
  font-feature-settings:
    'clig' off,
    'liga' off;
}

.points-text {
  align-self: center;
}

@keyframes AppearAnination {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}
