.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.captain-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: IdleAnimation 8s ease-in-out infinite;
}

@keyframes IdleAnimation {
  0%,
  100% {
    transform: scale(1) translateY(0);
  }
  40% {
    transform: scale(1.01) translateY(1.5vh);
  }
}

.captain {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vw;
  height: 124vw;

  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  transform: scale(1.1) translateX(-45%);

  @media (min-aspect-ratio: 1.5/1) {
    transform: scale(0.6) translateX(-85%) translateY(-10%);
  }
}
