.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999999;
  backdrop-filter: blur(8px);
  overflow: hidden;
  animation: ApperAnimation1 0.2s ease-out;
}

@keyframes ApperAnimation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 340px;
  height: 340px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 48px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: ApperAnimation2 0.5s ease-out;
}

@keyframes ApperAnimation2 {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.icon {
  width: 66px;
  height: 66px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

.title {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-size: 13px;
  text-align: center;
}
