.container {
  padding: 18px 16px;
  border-radius: 16px;
  border: 1px dotted #ffffff99;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  transition: border-color 0.2s;
}

.container.done {
  border-color: #01d807;
}

.container > * {
  flex-shrink: 0;
}

.name {
  display: flex;
  flex-grow: 1;
  white-space: normal;
  width: calc(100% - 150px);
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
}

.name strong {
  white-space: pre-wrap;
  display: block;
  width: 100%;
  font-weight: 400;
  transition: color 1s;
  align-self: center;
  font-size: 16px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.01em;
}

.name img {
  width: 30px;
  margin-right: 6px;
}

.container.done .name strong {
  color: #01d807;
  text-decoration: line-through;
}

.points {
  display: flex;
  align-items: center;
  gap: 8px;
}

.points span {
  font-weight: 600;
  transition:
    color 1s ease-out,
    opacity 1s ease-out;
}

.container.done .points span {
  color: #01d807;
  opacity: 0.6;
}

.points img {
  font-weight: 600;
  width: 24px;
  height: 24px;
  object-fit: contain;
}
