.balance {
  padding: 8px 16px;
  height: 64px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  color: #fff;
  text-align: center;
  font-family: 'Digital Numbers';
  font-size: 44px;
  font-weight: 400;
  font-feature-settings:
    'clig' off,
    'liga' off;
  flex-shrink: 0;
  line-height: 1;
}
