.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 20px 16px 50px;
}

.textWrapper {
  display: flex;
}

.blinkingPipe {
  position: relative;
  right: 3px;
  bottom: 0px;
  animation-delay: 1s;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  animation: blinkAnimation 0.75s infinite;
}

.textContent,
.blinkingPipe {
  font-family: 'IBM Plex Mono';
  text-transform: uppercase;
  background: linear-gradient(90deg, #e55d87 0%, #5fc3e4 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.textContent {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  animation: typingAnimation 3s steps(50);
  &_isOnePhrase {
    animation: typingAnimation 5s steps(50) infinite;
  }
}
@keyframes typingAnimation {
  0% {
    width: 0;
  }
  20% {
    width: 100%;
  }
}
@keyframes blinkAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.startup {
  color: #fff;
  text-align: center;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: 'SF Pro Text', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
  letter-spacing: 0.24px;
}
