.specialBigIconContent {
  position: relative;
  width: 100%;
  height: 100%;
}

.iconText {
  font-family: 'Open Sans';
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

.iconPreview {
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
}

.docBigIconContent {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.docBigIconContent img {
  margin-top: 5px;
  width: 47px;
  height: 40px;
}

.docType {
  position: absolute;
  bottom: 8px;
  left: -9px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 16px;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.33;
  color: #ffffff;
  text-transform: uppercase;
}

.docCreationDate {
  display: block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 6px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #fff;
}

.mediaBigIconContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mediaBigIconContent span {
  color: #fff;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  text-align: center;
}

.mediaBigIconContent span:nth-of-type(2) {
  font-size: 8px;
  line-height: 200%;
}

.mediaBigIconContent svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: #ffffff;
  width: 15px;
  height: 15px;
  max-width: 15px;
  max-height: 15px;
  transition:
    fill 200ms linear,
    transform 0.7s ease;
}

.mediaBigIconContent svg:hover {
  fill: #0f73ef;
}
.audioBigImage {
  width: 33px;
  height: 33px;
}
.videoBigImage {
  width: 47px;
  height: 46px;
  margin-left: 0;
}

.mediaBigIconContent svg.videoPlayIcon {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:
    fill 200ms linear,
    transform 0.7s ease;
}

.bigIconWrapper {
  position: relative;
  width: 55px;
  height: 72px;
}
.bigIconBackground {
  position: absolute;
  top: 0;
  width: 55px;
  height: 72px;
}

/* small icons */

.smallMediaIconWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallMediaIconWrapper svg:nth-child(1) {
  fill: none;
  stroke: #ffffff;
  width: 30px;
  max-width: 30px;
  height: 40px;
  max-height: 40px;
}

.smallMediaIconWrapper img {
  position: absolute;
}
.smallMediaIconWrapper img + svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  fill: #ffffff;
  width: 13px;
  height: 13px;
  max-width: 13px;
  max-height: 13px;
  transition:
    fill 200ms linear,
    transform 0.7s ease;
}

.smallMediaIconWrapper .audioImage {
  width: 22px;
  height: 22px;
}
.smallMediaIconWrapper .videoImage {
  width: 25px;
  height: 23px;
}

.smallInternalIconWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallInternalIconWrapper svg:nth-child(1) {
  fill: none;
  stroke: #ffffff;
  width: 30px;
  max-width: 30px;
  height: 40px;
  max-height: 40px;
}
.smallInternalIconWrapper svg:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 20px;
  max-height: 23px;

  fill: #ffffff;
}
.smallDocIconWrapper {
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.smallDocIconWrapper svg {
  width: 30px;
  height: 40px;
  max-width: 30px;
  max-height: 40px;
}
.smallDocIconWrapper span {
  position: absolute;
  color: white;

  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 0.78;
  text-align: center;

  top: 3px;
  text-transform: uppercase;
}
.smallDocIconWrapper img {
  position: absolute;
  width: 26px;
  height: 25px;
  bottom: 4px;
  left: 1.5px;
}
