.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999999;
  animation: OverlayAppearAnimation 0.2s ease-out forwards;
  opacity: 0;
}

@keyframes OverlayAppearAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  border-radius: 16px;
  background: #1b1b1c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 270px;
  animation: ModalAppearAnimation 0.4s ease-out forwards;
}

@keyframes ModalAppearAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  65% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.content {
  padding: 16px;
  padding-top: 20px;
}

.title {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  margin-bottom: 4px;
}

.text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.buttons {
  border-top: 1px solid rgba(84, 84, 88, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  display: flex;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;

  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;

  flex-grow: 1;
}

.buttons button.button-type__default {
  color: #0f73ef;
}

.buttons button.button-type__error {
  color: #fa2424;
}
