.container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-color: #151517;
  overflow: hidden;
}

.stars {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-image: url('../../../assets/tap-page/stars.png');
  background-repeat: repeat;
  background-size: 200%;
  background-position: 50% 0;
}

.glow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-image: url('../../../assets/tap-page/glow-blue.png');
  background-repeat: repeat;
  background-size: 100%;
  background-position: 50% 0;
}

@media (min-width: 600px) {
  .stars {
    background-size: 100%;
  }
}

.object1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-image: url('../../../assets/tap-page/object1.png');
  background-repeat: repeat;
  background-size: 100%;
  background-position: 50% 0;
  transform: rotate(-25deg) translateY(4%) scale(1.08);
}

.object2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-image: url('../../../assets/tap-page/object2.png');
  background-repeat: repeat;
  background-size: 100%;
  background-position: 50% 0;
  transform: rotate(15deg) translateY(3%) scale(1.05);
}

.planet {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-image: url('../../../assets/tap-page/planet-blue.png');
  background-repeat: repeat;
  background-size: 100%;
  background-position: 50% 0;
  transform: translateX(40%);
}
