.container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-color: #151517;
  overflow: hidden;
}

.stars {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-repeat: repeat;
  background-size: 200%;
  background-position: 50% 0;
  will-change: background-position;
}

.glow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-repeat: repeat;
  background-size: 100%;
  background-position: 50% 0;
  will-change: background-position;
}

@media (min-width: 600px) {
  .stars {
    background-size: 100%;
  }
}

.object1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-repeat: repeat;
  background-size: 100%;
  background-position: 50% 0;
  transform: rotate(-25deg) translateY(1%) scale(1.15);
  will-change: background-position;
}

.object2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-repeat: repeat;
  background-size: 100%;
  background-position: 50% 0;
  transform: rotate(15deg) translateY(0%) scale(1.12);
  will-change: background-position;
}

.planet {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-repeat: repeat;
  background-size: 100%;
  background-position: 50% 0;
  transform: translateX(40%);
  will-change: background-position;
}
