.container {
  position: fixed;
  width: 100%;
  max-width: 320px;
  height: 56px;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 10;
}
.container::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
}

.bg {
  position: relative;
  bottom: -16px;
  left: 0;
  right: 0;
}

.bg-line1 {
  position: absolute;
  left: 18%;
  bottom: 5px;
}

.bg-line2 {
  position: absolute;
  left: 40%;
  bottom: 5px;
}

.bg-line3 {
  position: absolute;
  left: 60%;
  bottom: 5px;
  transform: scaleX(-1);
}

.bg-line4 {
  position: absolute;
  left: 77%;
  bottom: 5px;
  transform: scaleX(-1);
}

.item {
  width: 55px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background-color: #15161900;
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
}

.icon {
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon > svg > path {
  stroke: url(#paint0_linear_9111_5063);
  stroke-width: 0.7; 
}

.item.active > .icon > svg > path {
  fill: url(#paint0_linear_9111_5063);
}

.gradient {
  position: absolute;
  opacity: 0;
}

.text {
  font-family: 'IBM Plex Mono';
  font-size: 9px;
  font-weight: 400;
  line-height: 11.7px;
  text-align: center;
  color: white;
  margin-top: 2px;
  text-transform: uppercase;
}
