.container {
  position: fixed;
  max-width: 95%;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  background: #2c2e31b2;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 4px 8px;
  text-align: center;
  white-space: nowrap;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none;
}

.item {
  padding: 8px;
  width: 55px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background-color: #15161900;
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 4px;
}

.item.active {
  background-color: #151619;
}

.icon {
  width: 24px;
  height: 24px;
  color: white;
  opacity: 0.6;
}

.item.active .icon {
  opacity: 1;
}

.icon > svg {
  width: 100%;
  height: 100%;
}

.img-icon {
  background: url(../../assets/logo-menu.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.text {
  color: white;
  font-size: 11px;
}
