.container {
    height: 105px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #303030;
    border-radius: 8px;
    margin-bottom: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.value {
    font-family: "SF Pro Text", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.02em;
}

.text {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    font-family: "SF Pro Text", sans-serif;
}

.circle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
}
