.container {
  width: 100%;
  height: 100dvh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.qrWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.qrWrapper > img {
  width: 70%;
  padding: 20% 0 4% 0;
  max-height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.title {
  font-family: 'SF Pro Text';
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.06px;
  text-align: center;
}

.text {
  font-family: 'SF Pro Text';
  font-size: 24px;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.06px;
  text-align: center;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.socIcon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.socNetworks {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin: 0 20px;
}

.socNetwork {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 7px);
  height: 56px;
  border: 0.5px solid #FFFFFF99;
  border-radius: 16px;
}

.socName {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #fff;
}