.home_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.home_container > div:first-child {
  height: calc(100% - 40px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.header {
  width: 100%;
}

.point-counter {
  margin-top: 10px;
}

.footer {
  margin-top: 10px;
  width: 100%;
  position: relative;
}

.footer-text {
  text-align: start;
  font-family: 'SF Pro Text';
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff99;
}

.footer-text > span {
  cursor: pointer;
}

.content {
  width: 100%;
}

.card {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #1e1e1e;
  background: #0f0f0f;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.to-appear {
  opacity: 0;
  transform: scale(0);
}

.banner {
  width: 100%;
  height: 200px;
  min-height: 180px;
  aspect-ratio: 2 / 1;
}

.banner-content {
  position: relative;
}

.banner-header {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.banner-header_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-header_img svg {
  height: 24px;
  width: 24px;
  color: white;
}

.banner-header-share-btn {
  font-family: 'SF Pro Text';
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.banner-header h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.banner img {
  position: absolute;
  width: 110%;
  height: auto;
  bottom: 0;
  left: 53%;
  transform: translateX(-50%);
}

.to-appear_active {
  animation: AppearAnim 0.5s ease-out forwards;
}

.assistent-controller {
  display: flex;
  position: initial;
  margin-top: 10px;
}

@keyframes AppearAnim {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.hidden-button {
  position: fixed;
  width: 80px;
  height: 50px;
  position: absolute;
  bottom:-20px;
  right: -16px;
}