.container {
  display: flex;
  gap: 8px;
}

.section {
  display: flex;
  flex-direction: column;
  height: 66px;
  border-radius: 12px;
  flex-grow: 1;
  border: 1px solid #FFFFFF33;
  padding: 8px 10px;
}

.title {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;  
}

.value {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}

.green {
  color: #01D807;
}

.yellow {
  color: #FFD200;
}

.blue {
  color: #24ADFA;
}