.container {
  width: 100%;
  height: 117px;
  border-radius: 8px;
  background-color: #FFFFFF0D;
  position: relative;
  overflow: hidden;
}

.header {
  font-family: 'SF Pro Text';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #FFFFFFB2;
  text-align: center;
  margin-top: 8px;
}

.action_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #000000;
  color: #fff;
}

.action_button:disabled > svg {
  color: #FFFFFF4D;
}

.action_button_left {
  left: -45px;
}

.action_button_right {
  right: -45px;
}

.action_button_right > svg {
  width: 24px;
  height: 24px;
  margin-right: 34px;
}

.action_button_left > svg {
  width: 24px;
  margin-left: 34px;
  margin-bottom: 6px;
}

.input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  margin-top: 4px;
}

.input > svg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.inputComponent > * {
  height: 64px;
  font-family: 'SF Pro Text';
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0.01em;  
  color: #fff;
  background-color: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent; /* Отключаем выделение при клике */
}

.inputComponent > input ::-webkit-outer-spin-button,
.inputComponent > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputComponent > input:focus, .inputComponent > input:active  {
  border: none;
}

.inputComponent > input:focus-visible {
  outline: none
}