.container {
  /*max-width: 391px;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-bottom: 32px;
  overflow-x: hidden;
}

.info {
  margin-top: 24px;
}

.info-exchange {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff99;
  text-transform: uppercase;
  margin: 0;
}

.info-title {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.option-title {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff99;
}

.option-text {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff99;
}

.white_btn {
  font-family: 'SF Pro Text';
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  background-color: white;
  color: black;
  height: 45px;
}

.animation1, .animation2 {
  display: block;
}
