.fileSquare {
  cursor: pointer;
  position: relative;
  height: 179px;
  width: 171px;
  border-radius: 10px;
  background: #1c1c1e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 8px;
}

.fileMenuButton {
  position: absolute;
  top: 8px;
  right: 6px;
  padding: 2px;
  padding-bottom: 0;
  border-radius: 5px;
  background: #303030;
  width: 24px;
  height: 24px;
}
.fileMenuButton svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.selectedFile svg {
  fill: #007de9;
}

.previewWrapper {
  height: 121px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewImage {
  width: 100%;
  height: 100%;
}

.squareInfo {
  width: 100%;
  border-top: 0.5px solid rgba(84, 84, 88, 0.65);
  padding: 12px 8px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.squareInfo__name {
  color: #fff;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.squareInfo__date {
  color: #7d7d7d;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 400;
  line-height: 150%;
}

/* list view */

.fileList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  cursor: pointer;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  width: 100%;
  min-height: 60px;
  padding: 0 16px;
  border-radius: 8px;
  background: #1c1c1e;
  padding-right: 100px;
}
.fileList div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.info__name {
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.14px;
}

.info__date {
  color: #7d7d7d;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.11px;
}

.fileListPreview {
  max-width: 30px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autocompleteWrapper {
  position: absolute;
  bottom: initial;
  left: 0;
  z-index: 100;

  width: 100%;
  max-height: 200px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #1c1c1e;
  border-radius: 8px;
}
