.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.svg > g {
  transform-origin: center;
}

.icon-container {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -52%);
}

@media (max-width: 400px) {
  .icon-container {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 450px) {
  .icon-container {
    width: 150px;
    height: 150px;
  }
}

.icon {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/tap-page/ship-blue.png');
  background-repeat: no-repeat;
  background-size: contain;
}
