.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
}

.svg > g {
  transform-origin: center;
}

.icon-container {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -52%);
  touch-action: manipulation;
}

@media (max-width: 400px) {
  .icon-container {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 350px) {
  .icon-container {
    width: 150px;
    height: 150px;
  }
}

.icon {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: contain;
  will-change: 'opacity, transform';
}

.container.default .icon {
  background-image: url('../../../assets/tap-page/ship-blue.png');
}

.container.gold .icon {
  background-image: url('../../../assets/tap-page/ship-gold.png');
}

.btn-animation-0 {
  animation: BtnAnimation0 0.3s ease-in-out;
}

@keyframes BtnAnimation0 {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.97);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.btn-animation-1 {
  animation: BtnAnimation1 0.3s ease-in-out;
}

@keyframes BtnAnimation1 {
  0% {
    opacity: 0.95 !important;
    transform: scale(1);
  }
  30% {
    opacity: 1 !important;
    transform: scale(0.95);
  }
  50% {
    opacity: 1 !important;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.95 !important;
    transform: scale(1);
  }
}

.btn-animation-2 {
  animation: BtnAnimation2 0.3s ease-in-out 0.05s;
}

@keyframes BtnAnimation2 {
  0% {
    opacity: 0.9 !important;
    transform: scale(1);
  }
  30% {
    opacity: 1 !important;
    transform: scale(0.97);
  }
  40% {
    opacity: 1 !important;
    transform: scale(1.03);
  }
  100% {
    opacity: 0.9 !important;
    transform: scale(1);
  }
}

.btn-animation-3 {
  animation: BtnAnimation3 0.3s ease-in-out 0.1s;
}

@keyframes BtnAnimation3 {
  0% {
    opacity: 0.9 !important;
    transform: scale(1);
  }
  30% {
    opacity: 1 !important;
    transform: scale(0.97);
  }
  50% {
    opacity: 1 !important;
    transform: scale(1.04);
  }
  100% {
    opacity: 0.9 !important;
    transform: scale(1);
  }
}

.btn-animation-4 {
  animation: BtnAnimation4 0.3s ease-in-out 0.15s;
}

@keyframes BtnAnimation4 {
  0% {
    opacity: 0.6 !important;
    transform: scale(1);
  }
  30% {
    opacity: 1 !important;
    transform: scale(0.97);
  }
  50% {
    opacity: 1 !important;
    transform: scale(1.02);
  }
  100% {
    opacity: 0.6 !important;
    transform: scale(1);
  }
}

.btn-animation-5 {
  animation: BtnAnimation5 0.3s ease-in-out 0.2s;
}

@keyframes BtnAnimation5 {
  0% {
    opacity: 0.2 !important;
    transform: scale(1);
  }
  30% {
    opacity: 0.5 !important;
    transform: scale(0.98);
  }
  50% {
    opacity: 0.5 !important;
    transform: scale(1.02);
  }
  100% {
    opacity: 0.2 !important;
    transform: scale(1);
  }
}

.btn-animation-6 {
  animation: BtnAnimation6 0.3s ease-in-out 0.25s;
}

@keyframes BtnAnimation6 {
  0% {
    opacity: 0.1 !important;
    transform: scale(1);
  }
  30% {
    opacity: 0.2 !important;
    transform: scale(0.99);
  }
  50% {
    opacity: 0.2 !important;
    transform: scale(1.01);
  }
  100% {
    opacity: 0.1 !important;
    transform: scale(1);
  }
}
