.container {
  width: 100%;
  height: 430px;
  position: relative;
  touch-action: manipulation;
  user-select: none;
}

.container * {
  touch-action: manipulation;
  user-select: none;
}

.svg > g {
  transform-origin: center;
}

.icon-container {
  position: absolute;
  width: 154px;
  height: 154px;
  top: calc(50% - 80px);
  left: calc(50% - 74px);
}

.icon {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: contain;
  will-change: opacity, transform;
}

.frame {
  position: absolute;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  will-change: opacity, transform;
}

.frame1 {
  width: 246px;
  height: 246px;
  top: calc(50% - 123px);
  left: calc(50% - 123px);
}

.frame2 {
  width: 330px;
  height: 330px;
  top: calc(50% - 165px);
  left: calc(50% - 165px);
  opacity: 0.9;
}

.frame3 {
  width: 380px;
  height: 380px;
  top: calc(50% - 190px);
  left: calc(50% - 190px);
  opacity: 0.6;
}

.frame4 {
  width: 430px;
  height: 430px;
  top: calc(50% - 215px);
  left: calc(50% - 215px);
  opacity: 0.2;
}

.btn-animation-0 {
  animation: BtnAnimation0 0.3s ease-in-out;
}

@keyframes BtnAnimation0 {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.97);
  }
  60% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.btn-animation-1 {
  animation: BtnAnimation1 0.3s ease-in-out;
}

@keyframes BtnAnimation1 {
  0% {
    opacity: 0.95 !important;
    transform: scale(1);
  }
  30% {
    opacity: 1 !important;
    transform: scale(0.95);
  }
  60% {
    opacity: 1 !important;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.95 !important;
    transform: scale(1);
  }
}

.btn-animation-2 {
  animation: BtnAnimation2 0.3s ease-in-out 0.05s;
}

@keyframes BtnAnimation2 {
  0% {
    opacity: 0.9 !important;
    transform: scale(1);
  }
  30% {
    opacity: 1 !important;
    transform: scale(0.95);
  }
  60% {
    opacity: 1 !important;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.9 !important;
    transform: scale(1);
  }
}

.btn-animation-3 {
  animation: BtnAnimation3 0.3s ease-in-out 0.1s;
}

@keyframes BtnAnimation3 {
  0% {
    opacity: 0.9 !important;
    transform: scale(1);
  }
  30% {
    opacity: 1 !important;
    transform: scale(0.96);
  }
  60%{
    opacity: 1 !important;
    transform: scale(1.04);
  }
  100% {
    opacity: 0.9 !important;
    transform: scale(1);
  }
}

.btn-animation-4 {
  animation: BtnAnimation4 0.3s ease-in-out 0.15s;
}

@keyframes BtnAnimation4 {
  0% {
    opacity: 0.6 !important;
    transform: scale(1);
  }
  30% {
    opacity: 1 !important;
    transform: scale(0.97);
  }
  60% {
    opacity: 1 !important;
    transform: scale(1.02);
  }
  100% {
    opacity: 0.6 !important;
    transform: scale(1);
  }
}

.btn-animation-5 {
  animation: BtnAnimation5 0.3s ease-in-out 0.2s;
}

@keyframes BtnAnimation5 {
  0% {
    opacity: 0.2 !important;
    transform: scale(1);
  }
  30% {
    opacity: 0.5 !important;
    transform: scale(0.98);
  }
  60% {
    opacity: 0.5 !important;
    transform: scale(1.02);
  }
  100% {
    opacity: 0.2 !important;
    transform: scale(1);
  }
}
