.top-button {
  position: fixed;
  z-index: 10;
  top: 22px;
  left: 10px;
  padding: 16px;
  text-decoration: none;
}

.earn-button {
  position: fixed;
  z-index: 10;
  top: 22px;
  right: 10px;
  padding: 16px;
  text-decoration: none;
}
