.container {
  width: 100vw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  overscroll-behavior: none;
  user-select: none;
}

.container * {
  touch-action: manipulation;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  z-index: 1;
}

.balance-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  z-index: 5;
}

.main-button-container {
  position: relative;
  height: 100%;
}

.main-button-inner-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-button-touch-area {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.counter-container {
  position: relative;
}

.level-description-container {
  position: absolute;
  top: calc(50% + 60px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.description strong {
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.description span {
  font-family: 'SF Pro Text';
  font-size: 21px;
  font-weight: 100;
  text-transform: uppercase;
}

.points-grow-area-container {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 40%;
}

.actions-container {
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 5;
  bottom: 120px;
}

.actions-container > * {
  width: 100%;
  max-width: 400px;
}

.timer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  height: 48px;
  position: fixed;
  top: 100px;
}

.experience-container {
  position: fixed;
  z-index: 5;
  bottom: 66px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-container > * {
  width: 100%;
  max-width: 320px;
}

.canvas-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.theme-switcher-container {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
