.search {
  width: 100%;
  position: relative;

  .icon {
    position: absolute;
    color: white;
    top: 50%;
    right: 0;
    transform: translateY(-45%);
    opacity: 0.5;
    transition: 0.2s;
  }

  .input {
    border: none;
    outline: none;
    padding: 11px 30px 11px 20px;
    color: #fff;
    font-feature-settings: 'case' on;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.14px;
    text-align: right;
    width: 100%;
    border-radius: 16px;
    background: transparent;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      font-family: 'SF Pro Text';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.18px;
      transition: 0.3s;
    }
  }

  &.focused {
    .input::placeholder {
      transform: translateX(-70px);
      opacity: 0;
    }
    .icon {
      opacity: 1;
    }
  }
}
