.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

.container * {
  touch-action: manipulation;
  user-select: none;
}

.content {
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100dvh;

  margin: auto;
  overflow: hidden;
}

.content-inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  padding-top: 32px;
  overflow-x: hidden;
  overflow-y: auto;
}

.balance-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 12px;
  flex-shrink: 0;
}

.balance-container strong {
  color: #fff;
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  opacity: 0.7;
}

.balance {
  padding: 0 16px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3.65px);
  color: #fff;
  text-align: center;
  font-family: 'SF Pro Text';
  font-size: 64px;
  font-weight: 600;
  font-feature-settings:
    'clig' off,
    'liga' off;
}

.main-button-container {
  width: 400px;
  max-width: 90vw;
  height: auto;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.experience-container {
  padding: 6px;
  width: 100%;
  max-width: 400px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  margin-bottom: 16px;
  text-transform: uppercase;
}

.container.hawk .multiplier {
  border: 0.5px solid #03c2fe;
  background: linear-gradient(90deg, #00c6fb 0%, #005bea 100%);
  box-shadow: 0px 4px 17.2px 0px #0586fe;
}

.container.phoenix .multiplier {
  border: 0.5px solid #fff1a6;
  background: linear-gradient(90deg, #f7b50d 0%, #fee140 100%);
  box-shadow: 0px 4px 17.2px 0px #fee140;
}

.container.hawk .logo {
  background-image: url('../../assets/tap-page/token-blue.png');
}

.container.phoenix .logo {
  background-image: url('../../assets/tap-page/token-gold.png');
}

.timer-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% + 180px);
  left: 50%;
  transform: translateX(-50%);
}

.clickTimer {
  color: var(--White, #fff);
  font-family: 'SF Pro Text', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;

  padding: 0 12px;
  border-radius: 6px;
  border: 1px solid #303030;
  background: #151517;
  display: inline-block;
}

.charging {
  position: absolute;
  top: 125px;
  z-index: 1;

  color: #fff;
  text-align: center;
  font-family: 'SF Pro Text', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
}

@media screen and (max-height: 500px) {
  .charging {
    top: 115px;
  }
}
