.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
}

.user-info {
  display: flex;
  align-items: center;
  height: 55px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.name {
  font-family: 'SF Pro Text';
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.size {
  font-family: 'SF Pro Text';
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
