.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 1005;
}

.modal {
  width: 100%;
  height: 100dvh;
  background-color: transparent;
  filter: drop-shadow(0 0 20px rgb(0, 0, 0));
  animation: AppearAnimation 0.2s linear forwards;
}

@keyframes AppearAnimation {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.wrapper {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 8px;
  z-index: 1;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    z-index: -1;
  }
}

.back {
  position: absolute;
  padding: 4px 12px;
  border-radius: 17px;
  color: #fff;
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}
