.shareMenuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 6px;
  padding-bottom: 0;
  border-radius: 5px;
  background: #303030;
  width: 24px;
  height: 24px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.fileMenuButton {
  position: absolute;
  top: 8px;
  right: 6px;
  padding: 2px;
  padding-bottom: 0;
  border-radius: 5px;
  background: #303030;
  width: 24px;
  height: 24px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.fileMenuButton svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.favBtnGrid {
  left: 6px;
}
.favBtnList {
  right: 38px;
}
