.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 22px 0px 22px;

  p {
    align-self: flex-start;
    color: #98989f;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }
}

.content {
  position: relative;
  overflow-x: hidden;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 161px;
}

.no-files-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 161px;

  b {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.18px;
    text-transform: capitalize;
    margin-top: 8px;
  }

  p {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.12px;
  }
}

.list-container {
  height: calc(100vh - 156px);
  overflow-x: hidden !important;
  padding-bottom: 90px;
}

.list-container-short {
  height: calc(100vh - 204px);
  overflow-x: hidden !important;
  padding-bottom: 90px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  padding: 0px 22px 0px 22px;

  &.grid-list {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    > * {
      width: calc(50% - 4px);
    }
  }
}

.ppv-header {
  display: flex;
  height: 32px;
  justify-content: space-between;
  margin: 0px 22px 16px 22px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #1a1a1a;
}

.ppv-action {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  align-content: center;
}

.ppv-info {
  display: flex;
  align-items: center;
}

.ppv-text-earn {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  margin-left: 4px;
  margin-right: 4px;
  color: #a3a3a3;
}

.ppv-text-count {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  margin-right: 4px;
}