.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  row-gap: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  padding-bottom: 50px;
}

.item {
  position: relative;
  cursor: pointer;
  display: flex;
  padding: 14px 16px;
  min-width: 100px;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    border: 1px solid transparent;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.3) 0.19%,
        rgba(255, 255, 255, 0) 103.8%
      )
      border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

.count {
  color: #fff;
  font-family: 'SF Pro Text';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.name {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'SF Pro Text';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.loader-container {
  width: 24px;
  height: 24px;
  overflow: hidden;
  svg {
    width: 24px;
    height: 24px;
  }
}
