.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-bottom: 92px;
  overflow-y: auto;
  overflow-x: hidden;
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  margin-top: 20px;
  animation: TitleAppearAnim 0.5s ease-out forwards;
  transform: scale(0.5);
  opacity: 0;
}

@keyframes TitleAppearAnim {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.title-inner-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-inner-block .spacer {
  display: block;
  width: 40px;
  height: 40px;
}

.ttitle-inner-block img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.title-block h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  position: relative;
}

.title {
  font-family: 'SF Pro Text';
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

.text {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: center;
}
