.header {
  display: flex;
  justify-content: center;
  position: relative;
}

.backButton {
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF70;
}

.title {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}