.container {
  display: flex;
  padding: 10px 16px;
  border: 1px solid #303030;
  border-radius: 10px;
  height: 60px;
}

.left {
  display: flex;
  flex-direction: column;
  width: calc(100% - 8px);
}

.center {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  width: calc(100% - 8px);
}

.count {
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.text {
  font-family: 'SF Pro Text';
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}

.left .count, .left .text {
  text-align: left;
}

.right .count, .right .text  {
  text-align: right;
}