.left {
  display: flex;
  flex-direction: column;
  width: calc(100% - 8px);
}

.count {
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: white;
}

.text {
  font-family: 'SF Pro Text';
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}

.input {
  width: 100%;
  padding-right: 14px;
  font-family: 'SF Pro Text';
  height: 22px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  color: white;
  margin-bottom: 1px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}