.controls {
  position: fixed;
  top: 44px;
  width: 100%;
  left: 0;
  display: flex;
  gap: 24px;
  color: white;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  justify-items: center;
  user-select: auto;

  button {
    color: white;
    width: 38px;
    height: 46px;
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
  }
}
