.wrapper {
  width: 100%;
  padding: 15px 26px 92px 23px;
  overflow-y: auto;
  overflow-x: hidden;
}

.banner {
  margin-bottom: 21px;
}

.loader {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader svg {
  animation: RotateAnim 1s linear infinite forwards;
}

@keyframes RotateAnim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
