.container {
  position: fixed;
  bottom: 132px;
  width: 324px;
  left: 50%;
  z-index: 10;
  background: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(4px);
  border-radius: 7px;
  padding: 8px 24px;

  transform: translateX(-50%) scale(0);
  opacity: 0;
  animation: ContainerAppear 0.5s ease-out forwards;

  &.is-closing {
    transform: translateX(-50%) scale(1);
    opacity: 1;
    animation: ContainerDisappear 0.5s ease-out forwards;
  }
}

@keyframes ContainerAppear {
  0% {
    transform: translateX(-50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}

@keyframes ContainerDisappear {
  0% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) scale(0);
    opacity: 0;
  }
}

.content {
  position: relative;
  top: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-transform: uppercase;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}

.highlight {
  display: block;
  font-family: 'Digital Numbers';
  font-weight: 500;
  font-size: 30px;
  margin: 4px;
}


.model-trigger {
  position: fixed;
  width: 13vh;
  height: 13vh;
  z-index: 10;
  top: calc(50% - 8vh);
  left: 50%;
  transform: translate(-50%, -50%);
}