.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-block {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  margin-top: 20px;
  animation: TitleAppearAnim 0.5s ease-out forwards;
  transform: scale(0.5);
  opacity: 0;
  font-size: 18px;
  margin: 10px;
}

.title-revard {
  margin-top: 20px;
}

.subtext-top {
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
}

.subtext-bot {
  font-family: 'SF Pro Text';
  font-size: 9px;
  font-weight: 400;
  line-height: 13.5px;
  text-align: center;  
  margin-top: 12px;
}

@keyframes TitleAppearAnim {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.title-block h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  position: relative;
}

.friends-container {
  margin-top: 24px;
}

.friends-container h2 {
  font-size: 16px;
  font-weight: 500;
}

.friends-list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  position: relative;
}

.invite-button {
  margin-top: 12px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invite-button span {
  width: 100%;
  padding: 16px;
  color: black;
  background: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
}

.loader-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container svg {
  animation: RotateAnim 1s linear infinite forwards;
}

@keyframes RotateAnim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.initial-state-for-animation {
  opacity: 0;
}
