.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.points {
  position: absolute;
  color: white;
  animation: PointsAnimation 1s linear forwards;
  opacity: 0;
  will-change: opacity;
}

@keyframes PointsAnimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
