.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 50px;
  width: 100%;
  min-height: 100%;
  max-width: 402px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header__backBtn {
  color: #fff;
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 150%;
  opacity: 0.7;
}

.header__upgradeBtn {
  color: #3d88f6;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  line-height: 150%;
}

.headingText {
  color: #98989f;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.12px;
}

.currentPlanTitle {
  color: #98989f;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin-top: 29px;
  margin-bottom: 7px;
  padding-left: 12px;
}

.options {
  margin-bottom: 24px;
}

.upgradeOptionCard {
  width: 100%;
  height: 80px;
  padding: 18px 12px;
  border-radius: 10px;
  border: 0.5px solid #24adfa;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.upgradeOptionCard > span,
.optionsList__card > span {
  width: 104px;
  height: 44px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.upgradeOptionCard > div > p {
  color: #24adfa;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.upgradeOptionCard > div > span {
  color: #fff;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.12px;
}

.upgradeText {
  color: #98989f;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.12px;
  padding-left: 12px;
}

.upgradeText a {
  text-decoration: none;
  color: #24adfa;
  font-weight: 600;
}

.upgradeOptionsHeader {
  color: #98989f;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.24px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 20px;
}

.upgradeOptionsHeader p {
  margin-left: auto;
  margin-right: 8px;
}

.optionsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.optionsList__card {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 80px;
  padding: 18px 12px;
  border-radius: 10px;
  border: 0.5px solid #303030;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.optionsList__card > div > p {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
}
.optionsList__card > div > span {
  color: #fff;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.12px;
}

.optionsList__card > div > span > span {
  color: #24adfa;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.12px;
  margin-left: 8px;
}

.payButton {
  width: 100%;
  height: 50px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 0px solid #000;
  background: #fff;
  margin-top: 24px;
  color: #000;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 250ms ease-in-out;
  margin-top: auto;
}

.payButton:hover {
  background: #efefef;
}

.payButton:nth-of-type(2) {
  margin-top: 8px;
}

.checkbox {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 12px;
  appearance: none;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/checkbox_circle.svg");
  background-position: center center;
  background-size: cover;
}

.checkbox:checked {
  background-image: url("../../assets/checkbox.svg");
  background-position: center center;
  background-size: cover;
}

.active {
  border: 0.5px solid #24adfa;
}

.active > span {
  background-color: #24adfa;
}

.active > div > p {
  color: #24adfa;
}

/* SWITCH */
.switchWrapper {
  display: block;
  position: relative;
  width: 40px;
  height: 24px;
  border-radius: 32px;
  cursor: pointer;
}

.switchWrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.switch .button {
  position: absolute;
  display: block;
  top: 1px;
  left: 2px;
  width: 22px;
  height: 22px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(16, 22, 26, 0.297186);
  border-radius: 32px;
}

.switchWrapper input:checked ~ .switch > .button {
  left: auto;
  right: 2px;
}

.switchWrapper input:checked ~ .switch {
  background-color: rgba(36, 173, 250, 1);
}

.switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  border-radius: 32px;
  background-color: rgba(57, 57, 61, 1);
}

.disabled{
  background: #7d7d7d;
}
