.btn {
    background-color: #1c1c1e;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-family: "SF Pro Text", sans-serif;
    flex: 1;
    color: white;
    cursor: pointer;
}

.active {
    color: #24adfa;
}

.name {
    font-weight: 300;
    font-size: 12px;
}

.value {
    font-weight: 600;
    font-size: 16px;
}
