.navigator {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0 16px;
}

.navigat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
  height: 54px;

  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.navigat-left {
  display: flex;
  gap: 16px;
}

.navigat-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionBtn {
  height: 28px;
  min-width: 60px;
  font-family: 'SF Pro Text';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  background-color: #36363b;
  padding: 6px 16px;
  border-radius: 23px;
  color: #ceced8;
}

.addBtn {
  background-color: #ffffff;
  color: #000000;
}

.playBtn {
  background-color: #bffb50;
  color: #000000;
}
