.container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  overscroll-behavior: none;
}

.container * {
  touch-action: manipulation;
  user-select: none;
}

.content {
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100dvh;

  margin: auto;
  overflow: hidden;
  overscroll-behavior: none;
}

.content-inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  padding-top: 32px;
  padding-bottom: 64px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

@media (max-height: 635px) {
  .content-inner-container {
    display: block;
  }
}

.balance-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.main-button-container {
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
}

.main-button-inner-container {
  position: relative;
  width: 400px;
  max-width: 90vw;
  height: 300px;
}

.main-button-touch-area {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.counter-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.level-description-container {
  position: absolute;
  top: calc(50% + 60px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.description strong {
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.description span {
  font-family: 'SF Pro Text';
  font-size: 21px;
  font-weight: 100;
  text-transform: uppercase;
}

.points-grow-area-container {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 50%;
}

.actions-container {
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.actions-container > * {
  width: 100%;
  max-width: 400px;
}

.timer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  height: 48px;
  flex-shrink: 0;
}

.experience-container {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-container > * {
  width: 100%;
  max-width: 320px;
}
