.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

.container * {
  touch-action: manipulation;
  user-select: none;
}

.content {
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100dvh;

  margin: auto;
  overflow: hidden;
}

.content-inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  padding-top: 32px;
  padding-bottom: 92px;
  overflow-x: hidden;
  overflow-y: auto;
}

.balance-container {
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.balance {
  padding: 8px 16px;
  height: 64px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  color: #fff;
  text-align: center;
  font-family: 'Digital Numbers';
  font-size: 44px;
  font-weight: 400;
  font-feature-settings:
    'clig' off,
    'liga' off;
  flex-shrink: 0;
  line-height: 1;
}

.main-button-container {
  width: 400px;
  max-width: 90vw;
  height: auto;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-button-inner-container {
  position: relative;
  height: 350px;
  width: 350px;
}

.current-theme,
.next-theme {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.description {
  position: absolute;
  top: calc(50% + 60px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.description strong {
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.description span {
  font-family: 'SF Pro Text';
  font-size: 21px;
  font-weight: 100;
  text-transform: uppercase;
}

.points-grow-area-container {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 50%;
}

.actions-container {
  height: 78px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.actions-description {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}

.actions-flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.timer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;
  top: calc(50% - 115px);
}

.timer-description {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}

.arrows > div {
  position: absolute;
  top: calc(50% - 24px);
  font-family: 'Digital Numbers';
  font-size: 21px;
  color: white;
  cursor: pointer;
  width: 48px;
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrows .prev {
  left: 0;
}

.arrows .next {
  right: 0;
}

.experience-container {
  height: 50px;
  width: 100%;
  max-width: 320px;
}

.current-theme-dissapear {
  animation: CurrentThemeDisappearAnim 0.5s ease-out;
}

@keyframes CurrentThemeDisappearAnim {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(0.5) translateY(-200%);
    opacity: 0;
  }
}

.next-theme-appear-right {
  animation: CurrentThemeAppearRightAnim 0.5s ease-out;
}

@keyframes CurrentThemeAppearRightAnim {
  0% {
    transform: translateX(100%) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.next-theme-appear-left {
  animation: CurrentThemeAppearLeftAnim 0.5s ease-out;
}

@keyframes CurrentThemeAppearLeftAnim {
  0% {
    transform: translateX(-100%) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
