.controls {
  position: fixed;
  top: 100px;
  width: 100%;
  left: 0;
  display: flex;
  gap: 24px;
  color: white;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  justify-items: center;
  user-select: auto;

  button {
    color: white;
    font-size: 20px;
  }
}
