.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  touch-action: none;
}

.player {
  video {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-interaction-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  user-select: none;
  touch-action: none;
}

.error {
  position: absolute;
  top: calc(50% + 32px);
  left: 0;
  width: 100%;
  padding: 24px;
  text-align: center;
  color: #a5a5a5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
