@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 500;
  src: local('SF Pro Text'), url(./assets/fonts/sf-pro-text.woff) format('woff');
}

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 200;
  src: local('SF Pro Text'), url(./assets/fonts/SF-Pro-Display-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Digital Numbers';
  src: local('Digital Numbers'), url(./assets/fonts/digital-7.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg--theme-bg-color);
  /*color: var(--tg-theme-text-color);*/
  background-color: #151517;
  font-family: "Open Sans", sans-serif;
  user-select: none;
  color: #e9e0e0;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
}
