.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px 50px;
  height: 100%;
  width: 100%;
}
header.header {
  margin-bottom: 20px;
  max-width: 370px;
}

.filesHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 0;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.search {
  width: 100%;
  position: relative;

  &__input {
    border: none;
    outline: none;
    padding: 11px 20px 11px 28px;
    color: #fff;
    font-feature-settings: 'case' on;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.14px;

    width: 100%;
    border-radius: 16px;
    background: transparent;
    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
      font-family: 'SF Pro Text';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.18px;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-45%);
  }
  &__logo {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    height: 20px;
  }
}

.wrapper {
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  &__title {
    align-self: flex-start;
    color: #98989f;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }
}

.scrollWrapper {
  width: 100%;
}

.filesList {
  list-style: none;
  gap: 8px;
  margin: 9px 0 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filesListGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 180px));
}

.uploadOptionButton {
  border-radius: 16px;
  border: 0.5px dashed #fff;
}

.uploadContainer__dots {
  position: absolute;
  top: 20px;
  right: 16px;
  transition: all 250ms ease-in-out;
}
.uploadContainer__dots svg {
  fill: white;
  stroke: white;
}

.uploadContainer__dots:hover svg {
  fill: #eae9e9;
  stroke: #eae9e9;
}

.emptyFilesPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 161px;
}

.emptyFilesPage_title {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18px;
  text-transform: capitalize;
  margin-top: 8px;
}

.emptyFilesPage_desc {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.12px;
}

.hiddenInput {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.loaderWrapper {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1005;

  display: flex;
  justify-content: center;
  align-items: center;
}

.storage {
  &_block {
    border-radius: 8px;
    width: 100%;
    display: flex;
    padding: 0 6px 0 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    margin-bottom: 24px;
    margin-top: 10px;
  }
  &_text_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &_text {
    color: #fff;
    font-family: 'SF Pro Text';
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
  }
  &_usage_container {
    overflow: hidden;
    height: 8px;
    width: 100%;
    border-radius: 24px;
    background: #28282a;
  }
  &_usage {
    height: 8px;
    background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
  }
}

.buttonsWrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  &__square {
    position: absolute;
    top: 0;
    left: -80px;
  }
}
