.container {
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px dotted #ffffff99;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  animation: AppearAnim 0.5s ease-out forwards;
  transform: translateX(100%) scale(0.2);
  opacity: 0;
  transition: border-color 0.2s;
}

@keyframes AppearAnim {
  0% {
    transform: translateX(100%) scale(0.2);
    max-height: 0px;
    opacity: 0;
  }
  100% {
    transform: translateX(0%) scale(1);
    max-height: 100px;
    opacity: 1;
  }
}

.info {
  display: flex;
  width: calc(100% - 70px);
}

.text {
  display: grid;
  margin-left: 8px;
}

.container.done {
  border-color: #01d807;
}

.done .name {
  text-decoration: line-through;
}

.done .info {
  width: calc(100% - 10px);
}

.container > * {
  flex-shrink: 0;
}

.img {
  width: 40px;
  height: 40px;
}

.name {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.count {
  width: fit-content;
  position: relative;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  padding-right: 2px;
  text-align: left;
}

.count::after {
  position: absolute;
  content: 'GDP';
  bottom: 1px;
  right: -17px;
  font-family: 'Open Sans';
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.01em;

}

.actionBtn {
  width: 70px;
  height: 33px;
  border-radius: 10px;
  background: #FFFFFF33;
  font-family: 'SF Pro Text';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.actionVerify {
  color: #000;
  background-color: #01D807;
}
