.container {
  height: 140px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #1e1e1e;
  background-color: #0f0f0f;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.value {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.text {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 12px;
  font-weight: 400;
  font-family: 'SF Pro Text', sans-serif;
}

.circle {
  position: absolute;
  top: 70px;
  left: 50%;
  width: 444px;
  height: 444px;
  transform: translateX(-50%);
  animation: CircleRotation 35s linear infinite;

  img {
    width: 444px;
    height: 444px;
    object-fit: contain;
  }
}

@keyframes CircleRotation {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
