
.player-ackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/audio-preview.png);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.player-container {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 14px;
}

.circle-audio-player {
  width: 100%;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.controls {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 10px;
  border-radius: 50%;
  background-image: url(/assets/audio-preview.png);
  background-size: cover;
  z-index: 1;
}

.circle-audio-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #00000066;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(0, 201, 229, 0.44717) 0%, rgba(30, 253, 253, 0.0001) 103.74%);
  cursor: pointer;
  border-radius: 50%;
}

.circle-audio-play-button {
  width: 80px;
  height: 80px;
}

.progress-container {
  position: relative;
  width: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.circle-audio-svg {
  position: absolute;
  top: 0;
  left: 4px;
  transform: rotate(-90deg);
  overflow: initial;
  -webkit-tap-highlight-color: transparent;
}

.progress-background {
  fill: none;
  stroke: #e0e0e0;
}

.progress {
  fill: none;
  stroke: url(#gradient);
}

.indicator {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  transform-origin: center center;
}

.indicator-dot {
  width: 20px;
  height: 20px;
  background: linear-gradient(90deg, #00F2FE 0%, #4FACFE 100%);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.info {
  display: flex;
}

.title {
  width: 50%;
  font-family: 'SF Pro Text';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;  
  margin-top: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress {
  display: flex;
  justify-content: flex-end;
  font-family: 'SF Pro Text';
  text-align: right;
  align-self: flex-end;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  margin: 0;
  width: 50%;
}

.progress > span {
  font-family: 'SF Pro Text';
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFFB2;
  margin-right: 8px;
}